.flexRowCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexRowCenterCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexRowStartCenter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flexRowBetweenCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flexRowAroundCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnBetweenCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flexColumnAroundCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flexColumnAroundStart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.flexEnd {
    justify-content: flex-end;
}

